/* app/globals.css */

@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  /* Mode Terang (Default) */
  --bg-primary-rgb: 255 255 255;      /* Putih #ffffff */
  --bg-secondary-rgb: 249 250 251;   /* Abu-abu terang #f9fafb */
  --foreground-rgb: 17 23 41;        /* Teks utama */
  --muted-foreground-rgb: 107 114 128;/* Teks sekunder */
  --border-color-rgb: 209 213 219;     /* Border */
  --hover-background-rgb: 229 231 235;/* Hover terang */

  /* Gradasi Kustom Anda */
  --gradient-start: #DC43B0;
  --gradient-end: #4A10B6;
  --brand-gradient: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

[class="dark"] {
  /* Mode Gelap */
  --bg-primary-rgb: 17 23 41;        /* Hitam kebiruan (utama) */
  --bg-secondary-rgb: 31 41 55;       /* Abu-abu gelap (sekunder) */
  --foreground-rgb: 237 237 237;     /* Teks utama */
  --muted-foreground-rgb: 156 163 175;/* Teks sekunder */
  --border-color-rgb: 55 65 81;       /* Border */
  --hover-background-rgb: 55 65 81;   /* Hover gelap */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--bg-secondary-rgb)); /* Latar body tetap abu-abu terang */
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}