/* components/Footer.module.css */
.footer {
  background-color: #111827; /* Warna hitam keabu-abuan */
  color: #d1d5db; /* Warna teks abu-abu terang */
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
}


/* Tambahkan kode ini di components/Footer.module.css */

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1.3rem; /* Jarak antar ikon */
  margin-bottom: 1rem;
}

.socialLinks a {
  color: #d1d5db; /* Warna ikon abu-abu terang */
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialLinks a:hover {
  color: #ffffff; /* Warna menjadi putih saat di-hover */
  transform: translateY(-3px); /* Ikon sedikit naik saat di-hover */
}

.copyright {
  margin: 0;
  font-size: 0.6rem;
}